<%- include("partials/header") %>


<main>
<h1>Turps | Home</h1>
  <p>Turps a new chatting app made by Fizzify. Please register if you do not have an account, and login if you already do. Thank you.</p>
  <a href="/register"><button>Register</button></a>
  <a href="/login"><button>Login</button></a>
  <a href="/auth/google"><button>Google</button></a>
</main>

<%- include("partials/footer") %>
